* {
    box-sizing: border-box;   
}

:root {
    font-size: 16px;
}

body {
    font-family: 'Kirang Haerang', cursive;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    min-width: 400px;
    height: 100vh;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

article {
    background: linear-gradient(white, black, grey);
    width: 700px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

#btn {
    border: 2px solid black;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(206, 212, 218);
    width: 300px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 25px 5px;
}

.allMonsters {
    border: 2px solid rgb(139, 17, 17);
    color: red;
    background-color: rgb(219, 185, 185);
}

#monstersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    height: 600px;
    background: linear-gradient(to right, white, grey, black, grey, white);
}

h3 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    text-shadow: 3px 5px 2px rgb(66, 30, 30);
}

li {
    position: relative;
    height: 125px;
    width: 95%;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
}

li div > p {
    margin: 10px;
}

.commonLi {
    border: 1px double red;
    background-color: rgb(180, 122, 122);
}

.hoverLi {
    border: 1px double rgb(85, 9, 9);
    background-color: rgb(175, 82, 82);
}

.quickStepLi {
    background-color: black;
    color: white;
}

.clickLi {
    border: 1px double rgb(87, 113, 128);
    background-color: rgb(177, 23, 23);
    color: rgb(19, 41, 49);
}

.closeElem {
    position: absolute;
    top: 2px;
    right: 5px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background: red;
    color: white;
    border-radius: 2px;
}

.valid {
    border: 1px solid blue;
    background-color: rgb(125, 125, 173);
}

.invalid {
    border: 1px solid red;
    background-color: rgb(197, 119, 119);
}